<launch>
<rosparam file="$(find tams_pr2_controller_configuration)/pr2_joint_group_velocity_controllers.yaml" command="load"/>
<node pkg="perception_neuron_tf_broadcaster" name="arm_group_velocity_controller_switch" type="arm_group_velocity_controller_switch" output="screen" >
<param name="left_arm" value="false" type="bool" />
<param name="right_arm" value="true" type="bool"/>
</node>
</launch>
